/* Reset default margin and padding for all elements */
body, h1, h2, p, input, button {
  margin: 0;
  padding: 0;
}

/* Set font and background color for body */
body {
  font-family: Arial, sans-serif;
  font-family: Product Sans;
  animation-name: example;
  background-color: #51e2f5;
  animation-duration: 5s;
  animation-iteration-count: infinite;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* Style the container for the Morse code converter */
.container {
  max-width: 600px;
  margin: 100px auto;
  border-radius: 5px;
  padding: 20px;
  background-color: #b7e796;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the header */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style the form label */
label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

/* Style the input field */
input[type="text"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #6bb9ee;
  border-radius: 5px;
}

/* Style the button */
button{
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style the button on hover */
button:hover {
  background-color: #0056b3;
}

input[type="button"] {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #ec8f7f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #e04616;
}

/* Style the result text */
p {
  margin-top: 10px;
  font-size: 16px;
}

#tit{
  text-align: center;
}

@keyframes example {
  0% {background-color: #51e2f5;}
  30% {background-color: #9df9ef;}
  50% {background-color: #edf756;}
  70% {background-color: #ffa8B6;}
  100% {background-color: #a28089;}
}
